/* General styles */
html,
body {
	width: 100%;
	height: 100%;
	background: #19383A;
	margin: 0;
	font-family: Roboto, sans-serif;
	color: #CCC;
}

.text-muted {
  color: #BBB !important;
}

video {
  width: 100%;
  height: auto;
}

/* Jumbotron */
.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background: #19383A;
  color: #CCC;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

/* Cards */
.card {
  float: left;
  padding: .75rem;
  margin-bottom: 3rem;
  border: 0;
  color: #CCC;
  background: transparent;
}

.card > img {
  margin-bottom: .75rem;
  width: 100%;
  height: auto;
}

.card-text {
  font-size: 85%;
}

/* Image information table */
table th {
  padding-right: 20px;
}

table td {
  text-align: center;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 5rem;
  padding: 1rem 0;
}